div {
    text-align: center;
}
.img-big {
    width: 500px;
    min-width: 40%;
    vertical-align: top;
}
iframe {
    width: 800px;
    height: 600px;
}
#animation {
    width: 200px;
    height: 200px;
    opacity:0%;
    position: absolute;
    background: red;
    top: 30%;
}